@font-face {
  font-family: 'AGOpus';
  font-weight: 400;
  src: url('../assets/fonts/Agopus-Roman.ttf');
}

@font-face {
  font-family: 'Chervil';
  font-weight: 400;
  src: url('../assets/fonts/Chervil-Regular.otf');
}
/* ---------------------------------------------------- */

html {
  min-height: 100dvh;
}

body {
  height: 100%;
  font-family: 'AGOpus', sans-serif;
  background-color: #0e141b;
  /* background-color: #4d6379; */
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
      circle,
      transparent 70%,
      rgba(20, 20, 38, 0.6) 90%,
      rgb(0 1 8 / 80%) 100%
    ),
    url('../assets/img/main-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.wrapper::after {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/img/starts.png');
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}

.header {
  position: relative;
  z-index: 50;
}

.header__image-decor {
  position: relative;
}
.header__image-decor::after,
.header__image-decor::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.15)) contrast(1.1);
  -webkit-filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.15)) contrast(1.1);
  -moz-filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.15)) contrast(1.1);
}
.header__image-decor::after {
  z-index: 99;
  background-image: url('../assets/img/flashlights-1.png');
}
.header__image-decor::before {
  z-index: 98;
  background-image: url('../assets/img/flashlights-2.png');
}

.header__decor {
  width: 100%;
  object-fit: cover;
  filter: drop-shadow(2px 8px 6px rgba(6, 3, 25, 0.65));
  -webkit-filter: drop-shadow(2px 8px 6px rgba(6, 3, 25, 0.65));
  -moz-filter: drop-shadow(2px 8px 6px rgba(6, 3, 25, 0.65));
}

.page {
  flex: 1 1 auto;
}

.main__logo {
  transform: translateY(-10vw);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.logo__text {
  font-family: 'Chervil', sans-serif;
  font-size: clamp(28px, 0.5rem + 7vw, 56px);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.logo__image-box {
  flex-shrink: 0;
  width: max(40px, 10vw);
  filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.2));
  -webkit-filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.2));
  -moz-filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.2));
}

.logo__image {
  width: 100%;
  object-fit: contain;
}

.footer {
}

/* #snow {
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.snowflake {
  position: absolute;
  width: 6px;
  height: 6px;
  background: linear-gradient(white, white);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px white);
} */
