@font-face {
  font-family: 'Bellota Text';
  font-weight: 400;
  src: url('../assets/fonts/BellotaText-Regular.ttf');
}

@font-face {
  font-family: 'Bellota Text';
  font-weight: 700;
  src: url('../assets/fonts/BellotaText-Bold.ttf');
}

@font-face {
  font-family: 'Chervil';
  font-weight: 400;
  src: url('../assets/fonts/Chervil-Regular.otf');
}
/* ---------------------------------------------------- */
:root {
  --title-margin: max(30px, 2vw);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Bellota Text', cursive;
  font-weight: 400;
  /* -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; */
  color: #1a1a19;
  background-color: #0e141b;
  /* background-color: #4d6379; */
}

.title {
  font-size: clamp(16px, 0.5rem + 2vw, 76px);
  font-weight: 700;
  text-align: center;
  line-height: 1.3;
  color: #603e18;
  text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.25);
}

.text {
  font-size: clamp(14px, 0.5rem + 1vw, 64px);
  line-height: 1.3;
  /* color: #f9f6ed; */
  color: #212120;
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.15);
}

.wrapper {
  position: relative;
  min-height: 100dvh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: radial-gradient(
      circle at 50% 0%,
      transparent 90%,
      rgba(20, 20, 38, 0.6) 95%,
      rgb(0 1 8 / 80%) 100%
    ),
    url('../assets/img/main-bg.webp');
  background-attachment: fixed;
  background-repeat: round;
  background-size: cover;
  overflow: hidden;
}
.wrapper::after {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/img/starts.webp');
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  pointer-events: none;
}

.header {
  position: relative;
  z-index: 50;
}

.header__image-decor {
  position: relative;
}
.header__image-decor::after,
.header__image-decor::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  /* -webkit-filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.15)) contrast(1.1); */
  /* -moz-filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.15)) contrast(1.1); */
}
.header__image-decor::after {
  z-index: 98;
  background-image: url('../assets/img/flashlights-1.webp');
  animation: flickering-lights 5s linear infinite 1s;
}
.header__image-decor::before {
  z-index: 99;
  background-image: url('../assets/img/flashlights-2.webp');
  animation: flickering-lights 6s linear infinite 0s;
}

@keyframes flickering-lights {
  0% {
    filter: contrast(1.4)
      drop-shadow(0 0 max(7px, 1.2vw) rgba(255, 255, 192, 0.7));
    -webkit-filter: contrast(1.4)
      drop-shadow(0 0 max(7px, 1.2vw) rgba(255, 255, 192, 0.7));
    -moz-filter: contrast(1.4)
      drop-shadow(0 0 max(7px, 1.2vw) rgba(255, 255, 192, 0.7));
  }
  15% {
    filter: contrast(0.8)
      drop-shadow(0 0 max(4px, 0.1vw) rgba(255, 255, 192, 0.15));
    -webkit-filter: contrast(0.8)
      drop-shadow(0 0 max(4px, 0.1vw) rgba(255, 255, 192, 0.15));
    -moz-filter: contrast(0.8)
      drop-shadow(0 0 max(4px, 0.1vw) rgba(255, 255, 192, 0.15));
  }
  45% {
    filter: contrast(0.8)
      drop-shadow(0 0 max(4px, 0.1vw) rgba(255, 255, 192, 0.15));
    -webkit-filter: contrast(0.8)
      drop-shadow(0 0 max(4px, 0.1vw) rgba(255, 255, 192, 0.15));
    -moz-filter: contrast(0.8)
      drop-shadow(0 0 max(4px, 0.1vw) rgba(255, 255, 192, 0.15));
  }
  60% {
    filter: contrast(1.3)
      drop-shadow(0 0 max(7px, 1.2vw) rgba(255, 255, 192, 0.65));
    -webkit-filter: contrast(1.3)
      drop-shadow(0 0 max(7px, 1.2vw) rgba(255, 255, 192, 0.65));
    -moz-filter: contrast(1.3)
      drop-shadow(0 0 max(7px, 1.2vw) rgba(255, 255, 192, 0.65));
  }
  70% {
    filter: contrast(0.8)
      drop-shadow(0 0 max(4px, 0.1vw) rgba(255, 255, 192, 0.15));
    -webkit-filter: contrast(0.8)
      drop-shadow(0 0 max(4px, 0.1vw) rgba(255, 255, 192, 0.15));
    -moz-filter: contrast(0.8)
      drop-shadow(0 0 max(4px, 0.1vw) rgba(255, 255, 192, 0.15));
  }
  100% {
    filter: contrast(0.85)
      drop-shadow(0 0 max(4px, 0.1vw) rgba(255, 255, 192, 0.2));
    -webkit-filter: contrast(0.85)
      drop-shadow(0 0 max(4px, 0.1vw) rgba(255, 255, 192, 0.2));
    -moz-filter: contrast(0.85)
      drop-shadow(0 0 max(4px, 0.1vw) rgba(255, 255, 192, 0.2));
  }
}

.header__decor {
  width: 100%;
  object-fit: cover;
  filter: drop-shadow(
    max(2px, 0.8vw) max(4px, 1.2vw) max(4px, 1vw) rgba(6, 3, 25, 0.7)
  );
  -webkit-filter: drop-shadow(
    max(2px, 0.8vw) max(4px, 1.2vw) max(4px, 1vw) rgba(6, 3, 25, 0.7)
  );
  -moz-filter: drop-shadow(
    max(2px, 0.8vw) max(4px, 1.2vw) max(4px, 1vw) rgba(6, 3, 25, 0.7)
  );
}

.page {
  position: relative;
  top: -10vw;
  padding: 0 10px 10px;
  flex: 1 0 auto;
  /* transform: translateY(-10vw); */
}
@media screen and (min-width: 767.98px) {
  .page {
    top: -15vw;
  }
}

.page__logo {
  margin-top: max(30px, 7vw);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: max(15px, 2vw);
}

.logo__text {
  font-family: 'Chervil', sans-serif;
  font-size: clamp(30px, 0.75rem + 6vw, 120px);
  color: #000000;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.logo__image-box {
  flex-shrink: 0;
  width: clamp(40px, 8.5vw, 150px);
  filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.3));
  -webkit-filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.3));
  -moz-filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.3));
}

.logo__image {
  width: 100%;
  object-fit: contain;
}

.page__greeting {
  font-size: clamp(16px, 0.5rem + 2.5vw, 76px);
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  color: #603e18;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.18);
}

.page__wedding-date {
  margin-top: max(35px, 7vw);
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  font-size: clamp(22px, 0.5rem + 3vw, 76px);
  /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); */
}

.page__info {
  margin-top: max(50px, 8vw);
  margin-bottom: max(80px, 8vw);
}

.info {
}

.info__title {
  margin-bottom: var(--title-margin);
}

.info__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: max(25px, 2.5vw);
}

.info__item {
  position: relative;

  padding: max(25px, 3vw) max(15px, 2vw);
  flex: 0 1 clamp(280px, 300px + 10vw, 28vw);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  background: rgba(255, 255, 255, 0.2);
  border: max(1px, 0.15vw) solid rgba(255, 255, 255, 0.3);
  border-radius: max(16px, 1vw);

  box-shadow: 0 max(4px, 0.5vw) max(10px, 1.2vw) rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(max(3px, 0.35vw));
  -webkit-backdrop-filter: blur(max(3px, 0.35vw));
  -moz-backdrop-filter: blur(max(3px, 0.35vw));
  overflow: hidden;
}
.info__item:hover .info__item-icon-box {
  transform: scale(1.15);
}
.info__item:after {
  content: '';
  position: absolute;
  top: -20%;
  left: -150%;
  height: 140%;
  width: 100%;
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.25) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0;
  transform: skew(-45deg);
}
.info__item:hover:after {
  left: 120%;
  transition-duration: 0.8s, 0.8s, 0.2s;
  transition-property: left, top, opacity;
  transition-timing-function: ease-in-out;
  opacity: 1;
}

.info__item-icons-box {
  display: flex;
  gap: min(30px, 7vw);
}

.info__item-icon-box {
  margin-bottom: max(20px, 4vw);
  width: clamp(48px, 6vw, 120px);
  aspect-ratio: 1;
  transition: transform ease-in-out 0.4s;
}

.info__item-icon {
  width: 100%;
  object-fit: cover;
  filter: drop-shadow(1px 1px 1px rgba(50, 50, 50, 0.5));
  -webkit-filter: drop-shadow(1px 1px 1px rgba(50, 50, 50, 0.5));
  -moz-filter: drop-shadow(1px 1px 1px rgba(50, 50, 50, 0.5));
}

.info__item-icon-box.relative {
  position: relative;
}

.info__item-icon-box.exclude::after,
.info__item-icon-box.include::after {
  content: '';
  position: absolute;
  z-index: 5;
  width: 80%;
  aspect-ratio: 1;
  background-size: cover;
}

.info__item-icon-box.exclude::after {
  left: -70%;
  background-image: url('../assets/img/icons/close.svg');
}
.info__item-icon-box.include::after {
  right: -70%;
  background-image: url('../assets/img/icons/check.svg');
}

.info__item-text {
  flex: 1 0 auto;
  text-align: center;
}

.page__form {
}

.form {
}

.form__body {
  position: relative;

  margin: 0 auto;
  padding: max(25px, 3vw) max(15px, 2.8vw);
  width: min(1800px, 95%);

  background: rgba(255, 255, 255, 0.3);
  border: max(1px, 0.15vw) solid rgba(255, 255, 255, 0.35);
  border-radius: max(16px, 1vw);

  backdrop-filter: blur(max(4px, 0.4vw));
  -webkit-backdrop-filter: blur(max(4px, 0.4vw));
  -moz-backdrop-filter: blur(max(4px, 0.4vw));
  overflow: hidden;
}
.form__body._hidden {
  display: none;
}

.form__title {
  margin-bottom: var(--title-margin);
}
.form__title._hidden {
  display: none;
}

.form__row:not(:first-child) {
  margin-top: max(25px, 3vw);
}

.form__label {
  display: inline-block;
  margin-bottom: max(2.5px, 0.2vw);
  font-size: clamp(14px, 0.5rem + 1vw, 64px);
  line-height: 1.15;
  letter-spacing: 0.5px;
  /* color: #f9f6ed; */
  color: #212120;
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.15);
}

.form__input-box {
  position: relative;
  height: max-content;
}

.form__input {
  padding: max(5px, 0.5vw) max(7px, 0.7vw);
  width: 100%;
  /* font-family: 'AGOpus Cyrillic', sans-serif; */
  font-size: clamp(14px, 0.5rem + 1vw, 60px);
  color: #f9f6ed;
  border: max(1px, 0.1vw) solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0px max(2px, 0.2vw) max(3px, 0.3vw) rgba(99, 99, 99, 0.4);
  transition: background-color ease 0.3s, border-color ease 0.3s;
}
.form__input::placeholder {
  color: #d6d6d6;
}
.form__input:focus {
  border-color: #ffd45f;
  background-color: rgba(0, 0, 0, 0.45);
}
.form__input._error {
  border-color: #ff3131;
}

.form__error {
  display: none;
  margin-top: max(10px, 1vw);
  font-size: clamp(14px, 0.5rem + 1vw, 60px);
  color: #ea4141;
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.15);
}
.form__error._displayed {
  display: block;
}

.form__custom-select {
  position: relative;
  display: flex;
  justify-content: center;
}

.form__custom-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: max(3px, 0.3vw) max(45px, 4.5vw) max(3px, 0.3vw) max(7px, 0.7vw);
  width: 100%;
  color: #f9f6ed;
  font-family: inherit;
  font-size: clamp(14px, 0.5rem + 1vw, 60px);
  border: max(1px, 0.1vw) solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0px max(2px, 0.2vw) max(3px, 0.3vw) rgba(99, 99, 99, 0.4);
  transition: background-color ease 0.3s, border-color ease 0.3s;
}
.form__custom-select select:focus {
  border-color: #ffd45f;
  background-color: rgba(0, 0, 0, 0.45);
}
@media screen and (min-width: 1023.98px) {
  .form__label + .form__custom-select {
    margin-left: min(20px, 1vw);
  }

  .form__custom-select {
    display: inline-flex;
    margin-right: auto;
  }
  .form__custom-select select {
    width: max-content;
  }
}

.select-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: max(40px, 4vw);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: max(1px, 0.1vw) solid rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  pointer-events: none;
}
.select-icon img {
  width: 35%;
  aspect-ratio: 1;
  object-fit: contain;
  transition: transform 0.3s ease;
}
.form__custom-select select:focus + .select-icon {
  background-color: rgba(0, 0, 0, 0.3);
}
.form__custom-select select:focus + .select-icon img {
  transform: rotate(180deg);
}

.form__textarea {
  padding: max(7px, 0.7vw);
  min-height: max(120px, 9vw);
  width: 100%;
  font-size: clamp(14px, 0.5rem + 1vw, 60px);
  color: #f9f6ed;
  border: max(1px, 0.1vw) solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0px max(2px, 0.2vw) max(3px, 0.3vw) rgba(99, 99, 99, 0.4);
  resize: none;
  transition: background-color ease 0.3s, border-color ease 0.3s;
}
.form__textarea:focus {
  border-color: #ffd45f;
  background-color: rgba(0, 0, 0, 0.45);
}

.form__actions {
  margin-top: max(40px, 3.5vw);
  display: flex;
  justify-content: center;
}

.form__button {
  padding: max(7px, 0.7vw) max(20px, 2vw);
  font-family: inherit;
  font-size: clamp(15px, 0.5rem + 1.1vw, 65px);
  color: #f9f6ed;
  text-align: center;
  border: max(1px, 0.1vw) solid rgba(0, 0, 0, 0.15);
  border-radius: max(50px, 10vw);
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0px max(2px, 0.2vw) max(3px, 0.3vw) rgba(99, 99, 99, 0.4);
  outline: none;
  transition: background-color 0.3s ease, transform 0.25s ease;
}
.form__button:hover {
  background-color: rgba(0, 0, 0, 0.45);
  transform: scale(1.05);
}
.form__button:focus {
  border-color: #ffd45f;
}
.form__button:active {
  background-color: rgba(0, 0, 0, 0.55);
  transform: scale(0.9);
}

.submit-result {
  margin: 0 auto;
  padding: max(25px, 3vw) max(15px, 2.8vw);
  width: min(1800px, 95%);

  background: rgba(255, 255, 255, 0.3);
  border: max(1px, 0.15vw) solid rgba(255, 255, 255, 0.35);
  border-radius: max(16px, 1vw);

  backdrop-filter: blur(max(4px, 0.4vw));
  -webkit-backdrop-filter: blur(max(4px, 0.4vw));
  -moz-backdrop-filter: blur(max(4px, 0.4vw));
}
.submit-result._hidden {
  display: none;
}
.submit-result__title {
  text-align: center;
}
.submit-result__text {
  margin-top: max(10px, 2vw);
  text-align: center;
}
.submit-result._error .submit-result__title {
  color: #ea4141;
}
.submit-result._animated .submit-result__title {
  animation: fade-up ease 0.7s 0.5s backwards;
}
.submit-result._animated .submit-result__text {
  animation: fade-up ease 0.7s 0.7s backwards;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.footer {
  padding: max(10px, 2vw) max(20px, 4vw) max(20px, 4vw);
  border-top: max(1px, 0.15vw) solid rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(max(7px, 0.7vw));
  -webkit-backdrop-filter: blur(max(7px, 0.7vw));
  -moz-backdrop-filter: blur(max(7px, 0.7vw));
}

.footer__info {
  font-size: clamp(14px, 0.5rem + 1vw, 64px);
  line-height: 1.3;
  color: #f9f6ed;
  text-align: center;
}

.footer__link {
  color: inherit;
  text-decoration: underline dashed #35aeff;
}

/* HTML: <div class="loader"></div> */
.loader-overlay._hidden {
  display: none;
}

.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  opacity: 0.5;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}
.loader::before,
.loader::after {
  content: '';
  grid-area: 1/1;
  --c: no-repeat radial-gradient(farthest-side, #35aeff 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}
.loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear;
}

@keyframes l12 {
  100% {
    transform: rotate(0.5turn);
  }
}

#snow {
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.snowflake {
  position: absolute;
  width: max(6px, 1vw);
  height: max(6px, 1vw);
  background: linear-gradient(white, white);
  border-radius: 50%;
  filter: drop-shadow(0 0 max(6px, 1vw) white);
}
