body {
  height: 100dvh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

h1 {
  text-align: center;
}

.image-box {
  width: 60%;
  height: 80%;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
